*{

    margin: 0;
    padding: 10px;
}
body{
    min-width: 400px;
}

input{
    width: 98%;
    margin-bottom: 10px;
    font-weight: bold;
    outline: none;
    border: 1px solid #5f9341;
}

button#input-btn{
    background-color: #5f9341;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#tab-btn{
    background-color: #5f9341;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#delete-btn{
    background-color: #fff;
    color: #5f9341;
    font-weight: bold;
    border: 1px solid #5f9341;
    cursor: pointer;
}

ul{
    padding-left: 0;
}

li{
    padding-left: 0;
    list-style: none;
}

li a{
    color: #5f9341;
    padding-left: 0;

}